<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Name Survey</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
    .mainContainer {
        min-width: 850px;
        min-height: 700px;
        margin: 2% auto;
        padding: 15px 15px;
        border: 0;
        width: 90%;
        height: 90%;
    }
	body {
	  background-color: #f1f1f1;
	}
</style>